/*-----------------------------
BEGIN : Layout
-----------------------------*/
body{
 	background:#fff url('../img/bg.jpg') repeat center -100px;
}
#wrapper {
	margin: 0 auto;
	width: 990px;
	padding:0px;
	color: #333;
}
a{
	color:#787B7C;
}
a:hover {
	color:#BEB094;
}
h2{
	font-family:"Times New Roman",Times,serif,Microsoft Sans Serif,Arial,Verdana;
}
h2 a{
	font-weight:normal;
}
input{
	*padding:0px;
}
/*-----------------------------
END : Layout
-----------------------------*/

/*-----------------------------
BEGIN : Header
-----------------------------*/
#header {
	background:none;
	height:100px;
	padding:0px;
}
h1#logo{
	float:left;
	margin:20px 0px 0px 4px;
}

/* Search */
#first_search{
	float:right;
	margin:40px 0px 0px 0px;
	bottom:0px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color:#F1F0ED;
	border:1px #BDB094 solid;
}
input#txtSearch{
	width:180px;
	height:26px;
	line-height:26px;
	border:none;
	font-size:18px;
	float:left;
	padding:0px 0px 0px 5px;
	color:#000066;
	background:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0){input#txtSearch{padding:3px 7px;}}/*Only Chrome*/
input#btnTopsearch{
	background: url('../img/btnSearch.png') no-repeat 0 0;
	border:none;
	width:26px;
	height:26px;
	padding:0px;
	cursor:pointer;
	float:left;
}
input#btnTopsearch:hover{
	background-position:0px -26px;
}
#nav {
	height: 40px;
	margin:0px auto;
	background-color:#E5E0D7;
	border:3px #BDB094 dotted;
}
#nav li {
	float: left;
	font-weight: bold;
	color: #fff;
	background:none;
	padding:0px;
}
#nav li a{
	padding: 10px 55px 0px 55px;
	height:30px;
	display:inline-block;
}
/*-----------------------------
END : Header
-----------------------------*/

/*-----------------------------
BEGIN : Main Content
-----------------------------*/
#content{
	padding:0px;
}
#col_main{
	float: left;
	width: 680px;
	margin:10px 0px 0px 0px;
}
#col_right{
	float: right;
	width: 290px;
	background:url('../img/bg_colright.png')repeat-y 0 0;
	padding-bottom:50px;
	height:auto;
	margin-top:10px;
}
/*-----------------------------
END : Main Content
-----------------------------*/

/*-----------------------------
BEGIN : Layout Product Box
-----------------------------*/
.main_box{
	min-height:200px;
	margin-bottom: 10px;
	padding:10px;
	background-color:#fff;
	border:3px #707374 solid;
}
.main_box h2{
	height:auto;
	padding:0px 0px 0px 8px;
	font-size:2.5em;
}
/*-----------------------------
END : Layout Product Box
-----------------------------*/

/*-----------------------------
BEGIN : Column in Product Box
-----------------------------*/
.info_item h3{
	font-weight:normal;
}
.pdf{
	position:relative;
	bottom:0px;
	float:left;
	background:url('../images/lookInside.png') no-repeat 0 0;
	width:81px;
	height:29px;
	z-index:499;
}
.pdf:hover{
	background-position:0 -28px;
}
.none_pdf{
	position:relative;
	bottom:147px;
	float:left;
	display:block;
	width:81px;
	height:29px;
}
/*Col2*/
.col2 .item{
	width:287px;
	height:154px;
	float: left;
	margin:0px 23px 5px 16px;
	padding-bottom:20px;
}
.col2 .item_pic{
	float: left;
	width:154px;
	height: 154px;
	margin-right: 10px;
	position:relative; 
	right:81px;
}
.col2 .info_item{
	float:left;
	width:150px;
	position:relative;
	bottom:156px;
	left:163px;
}
.col2 .item img{
	width: 154px;
	height: 154px;
}

/*Col3*/
.col3 .item{
	width:160px ;
	height:235px;
	margin:0px 42px 10px 16px;
	float:left;
}
.col3 .item_pic{
	width:154px;
	height: 154px;
	margin-right: 10px;
	position:relative; 
	bottom:29px;
}
.col3 .item img{
	width: 154px;
	height: 154px;
}
.col3 .info_item{
    width:100%;
    height: 70px;
    overflow:hidden;
    line-height:16px;
	position:relative;
	top:5px;
    *bottom:26px;
    *top:0px;
}
.col3 .info_item h3{
	height:60px;
	overflow:hidden;
	position:relative\9;
	bottom:55px\9;
	*position:relative;
	*bottom:26px;
}
/*Col4*/
.col4 .item {
	width:130px ;
	margin:0px 15px 10px;
	padding:0;
	float: left;
	height:200px;
     overflow:hidden;
}
.col4 .item img{
	width:124px;
	height:124px;
}
.col4 .item_pic{
	width:124px;
	position:relative; 
	bottom:29px;
}
.col4 .info_item{
    position:relative;
    bottom:52px;
    float:left;
    width:124px;
    height: 70px;
    overflow:hidden;
    line-height:16px;
}
/*-----------------------------
END : Column in Product Box
-----------------------------*/

/*-----------------------------
BEGIN : Detail in Product Box
-----------------------------*/
span.price {
	position: relative;
	bottom:30px;
	float: right;
	padding: 2px 5px;
	background-color: #663300;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	font-weight:bold;
	color:#fff;
}
@media screen and (-webkit-min-device-pixel-ratio:0){.col4 .price{bottom: 24px;}}/*Only Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0){.col2 .price, .col3 .price{bottom: 24px;}}/*Only Chrome*/
span.promotion_price{
	color:#663300;
	font-style:italic;
	font-weight:bold;
}
/*-----------------------------
END : Detail in Product Box
-----------------------------*/

/*-----------------------------
BEGIN : Webboard
-----------------------------*/
#col_main_board{
    margin-top:20px;
    padding: 0px;
}
#col_main_board h2{
	padding:0px;
	margin-bottom:0px;
	font-family:"Times New Roman", Times, serif, Microsoft Sans Serif, Arial, Verdana ;
	font-size:2.5em;
}
.board{
	margin:0px; 
	padding:0px; 
	list-style-type:none; 
	clear:both; 
	float:none;
}
.board li{
    clear:both; 
    float:none; 
    min-height:25px; 
    margin:0px; 
    padding:0px;
    vertical-align:text-top; 
}
.board li.boardheader{
	background-color:#B6B6B6;
	height:30px;
}
.board  li.c0{
	 background:url('../img/bg_box.png') repeat 0 0;
}
.board li.c1{
	 background-color:#DFDFDF;
}
.board dl{
    padding:0px; 
    margin:0px; 
    list-style-type:none; 
    clear:both; 
    float:none; 
    height:40px;
}
.board dl dt, .board dl dd{
     float:left; 
     line-height:20px;
     padding-left:5px
}
.board .boardheader dt, .board .boardheader dd{
    line-height:30px; 
    font-weight:bold; 
}
.board .icon{
    width:25px;
}
.board .boardheader .topic{
    width:375px;
}
.board .topic{
    width:350px;
}
.board .topic a{
	height: 20px;
	font-size: 12px;
	line-height: 20px;
}
.board .topic a:hover{
	text-decoration:underline;
}
.board .topic_by, .board .last_by{
	color: #666666;
	font-size: 11px;
	height: 11px;
	line-height: 11px;
}
.board .view, .board .reply{
	width:61px;
	font-size: 12px;
}
.board .lastpost{
	width:145px;
	font-size: 12px;
}
.board span{
    display:block; 
    clear:both
}
/*-----------------------------
END : Webboard
-----------------------------*/

/*-----------------------------
BEGIN : Column Right
-----------------------------*/
#col_right_submenu, #col_right_cate, #col_right_track, #col_right_signin, #col_right_mycart, #col_right_history{
	width:244px;
	min-height:50px;
	_height:50px;/* Only IE6 */
	padding:20px;
	margin:0 auto;
	margin-bottom: 20px;
	background:#E5E0D7 url('../img/col_right.png') repeat center -10px;
	border:3px #BDB094 dotted;
}
#col_right_cate h2, #col_right_history h2, #col_right_track h2{
    font-size:1.6em;
    margin:0px;
    padding: 0px;
    font-weight:bold;
}

/* Sub Menu */
#col_right_submenu li {
	width: 100%;
	float: left;
	height:30px;
	line-height: 30px;
}
#col_right_submenu a{
    padding: 0px;
}
/* Category */
#col_right_cate li {
	width: 100%;
	float: left;
	height:30px;
	line-height: 30px;
}
#col_right_cate a{
    padding: 0px;
}
a#btnSignin{
	background:url('../img/btnSignin.png') no-repeat 0 0;
	width:176px;
	height:46px;
	display:block;
}
a#btnSignin:hover{
	background-position:0px -46px;
}
/* My Cart */
#cart_total{
	background:url('../img/bg_cart.png') no-repeat 0 0;
	padding:30px 0px 0px 62px;
	height:25px;
	color:#999999;
	margin:0px;
}
span.blue{
	color:#333;
}
span.redbold{
	color:#663300;
	font-weight:bold;
}
#cart_btn{
    margin-top:10px;
    margin-left:0px;
    display:block;
}
#btnViewcart{
	background: url('../img/btnViewcart.png') no-repeat center top;
	border:none;
	width:115px;
    	height:28px;
    	cursor:pointer;
    	margin-right:5px;
}
#btnCheckout{
	background: url('../img/btnCheckout.png') no-repeat center top;
	border:none;
	width:115px;
    	height:28px;
    	cursor:pointer;
}
#btnViewcart:hover, #btnCheckout:hover{
	background-position:center -28px;
}
#col_right_mycart li{
	margin-bottom:7px;
	padding-bottom:5px;
	border-bottom:3px #BDB094 solid;
}
#col_right_mycart li span{
	color:#583D3D;
}
/* History */
#col_right_history div{
	padding:10px 0px;
	margin:0px 5px;
	border-bottom:3px #BDB094 solid;
}
#col_right_history .right_item img {
	width: 62px;
	height:62px;
	float: left;
	margin-right: 10px;
}
/* track */
#col_right_track div{
	margin:0px 0px;
	width:225px;
	width:250px\9;/* Only IE8 */
	*width:270px;/* Only IE7 and Lower */
}
/* Detail in Column Right */
.right_item {
	margin-top: 10px;
}
.right_item img {
	width: 62px;
	float: left;
	margin-right: 10px;
}
/*-----------------------------
END : Column Right
-----------------------------*/

/*-----------------------------
BEGIN : Page How to Order/Pay
-----------------------------*/
.otherPage{
	width:620px;
	padding:10px 10px;
	margin:0 auto;
}
.otherPage h2{
	padding:0px;
}
.otherPage h3{
	color:#663300;
	font-size:1.1em;
}
.otherPage p{
	margin:10px 0px;
}
.otherPage ul{
	margin-bottom:10px;
}
.otherPage ul li{
	background: url(../img/icon.png) no-repeat 0 4px;
	padding-left:13px;
}
.important{
	color:#333300;
	font-weight:bold;
}
.comment{
	color:#993333;
	font-style:italic;
}
.otherPage hr{
	border:none;
	border-bottom:1px #707374 dashed;
	margin:10px 0px;
}
p#myTag, p#myTag .comment{
	color:#993333;
}
#about p{
	margin:0px;
}
p#myTag{
	margin:10px 0px;
}
/*-----------------------------
END : Page How to Order/Pay
-----------------------------*/

/*-----------------------------
BEGIN : Search Bar
-----------------------------*/
#searchbar{
	width: 970px;
	height:33px;
	border-bottom:none;
	position:fixed;
	bottom:0px;
	z-index:900;
	background:url('../img/searchbar.png') no-repeat 0 0;
	padding:12px 10px 0px 10px;
}
#serchbarForm{
    float:left;
}
#serchbarForm img{
	vertical-align:middle;
}
#serchbarForm label{
	display:none;
}
#search_keyword{
    color:#006c9f;
}
input#search_keyword{
	width:200px;
	height:20px;
	line-height:20px;
	width:200px;
	padding:0px 20px 0px 62px;
	background:url('../img/search_keyword.gif') no-repeat 0 0;
	color:#4D3D20;
	border:none;
}
select#search_category{
    color:#787B7C;
}
input#btnSearch_bar{
    background:url(../img/btnSearchbar.gif) no-repeat 0 0;
    width:22px;
    height:22px;
    border:none;
    cursor:pointer;
    vertical-align:top\9;
    *vertical-align:top;
}
input#btnSearch_bar:hover{
	background-position:-22px 0px;
}
#searchbar .right{
    padding-right:5px;
    color:#787B7C;
}
#searchbar .right a{
	padding-right:5px;
	font-weight:bold;
	font-family:Arial;
}
#searchbar .right a:hover{
	padding-right:5px;
	font-weight:bold;
}
/*-----------------------------
END : Search Bar
-----------------------------*/