.promotion_price {
	display: block;
}

.list_pic > ul li:first-child{
	display: none;
}


.list_pic > ul li {
 /*   margin-left: 5px;*/
    float: left;
    width: 100%;
    text-align: center;
}

.main_box{
	background: #fff;
	border: 1px solid #AAAAAA;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

.item_detail > div.clearfix > .detail_info.normal{
  width :60%;
  float: left;
   height: 200px;
   margin-top: 25px;
}

/*-----------------------------
BEGIN : Layout
-----------------------------*/
body{
 	background:#fff url('../img/bg.jpg') repeat 0 0;
 	background-attachment: fixed;
}
#wrapper {
	margin: 0 auto;
	width: 990px;
	color: #252525;
}
a{
	color:#666!important;
}
a:hover{
	color:#FF6600!important;
}
h2{
	font-family:"Times New Roman",Times,serif,Microsoft Sans Serif,Arial,Verdana;
	color:#FFFF00
}
h2 a{
	font-weight:normal;
	color:#fff!important;
}
h2 a:hover{
	color:#E80051;
}
/*-----------------------------
END : Layout
-----------------------------*/

/*-----------------------------
BEGIN : Header
-----------------------------*/
#header {
	width:990px;
	height:110px;
}
h1#logo{
	float:left;
	margin:25px 0px 0px 0px;
}
h1#logo a > img {
    width: 130px;
}

/* Search */
#first_search{
	float:right;
	margin:45px 0px 0px 0px;
}
#quicksearch{
	
}
input#txtSearch{
	width:200px;
	font-size:18px;
	float:left;
	padding:3px 7px;
	color:#808080;
	border:2px #000 solid;
	height:20px\9;
	*height:20px;
	*line-height:20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){input#txtSearch{padding:2px 7px;}}/*Only Chrome*/
input#txtSearch:hover, input#txtSearch:focus{
	border:2px #FFCC00 solid;
}
input#btnTopsearch{
	background:url('../img/btnSearch.png') no-repeat 0 0;
	border:none;
	width:35px;
	height:30px;
	padding:0px;
	cursor:pointer;
	float:left;
}
@media screen and (-webkit-min-device-pixel-ratio:0){input#btnTopsearch{margin-top:2px;}}/*Only Chrome*/
input#btnTopsearch:hover{
	background-position:0 -30px;
}
#nav {
	width:990px;
	height: 40px;
	background-color:#FFF500;
	margin:0px 0px 20px 0px;
}
#nav li {
	float: left;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
	color: #fff;
}
#nav li a{
	padding: 5px 55px;
	color:#333!important;
}
#nav li a:hover{
	color:#FA5183!important;
}
/*-----------------------------
END : Header
-----------------------------*/

/*-----------------------------
BEGIN : Main Content
-----------------------------*/
#content{
	padding-bottom: 90px;
	position:relative;
}
#col_main{
	float: left;
	width: 680px;
}
#col_right{
	float: right;
	width: 290px;
}
/*-----------------------------
END : Main Content
-----------------------------*/

/*-----------------------------
BEGIN : Layout Product Box
-----------------------------*/
.main_box{
	min-height:200px;
	margin-bottom: 20px;
	padding:0px 0px 10px 0px;
}
.main_box h2{
	height:43px;
	padding-left:10px;
	padding-top:5px;
	font-size:1.8em;
	background:url('../img/bgh2.gif') no-repeat 0 0;
}
/*-----------------------------
END : Layout Product Box
-----------------------------*/
.hasDatepicker {
    padding: 0 20px;
}
/*-----------------------------
BEGIN : Column in Product Box
-----------------------------*/
.pdf{
	position:relative;
	bottom:0px;
	float:left;
	background:url('../img/lookInside.png') no-repeat 0 0;
	width:81px;
	height:9px;
	z-index:499;
}
.pdf:hover{
	background-position:0 -28px;
}
.none_pdf{
	position:relative;
	bottom:147px;
	float:left;
	display:block;
	width:81px;
	height:29px;
}
/*Col2*/
.col2 .item{
	width:287px;
	height:160px;
	float: left;
	margin:0px 7px 5px 7px;
	background:url('../img/bg_item2.png') no-repeat 0 0;
	padding:15px;
}
.col2 .item_pic{
	float: left;
	width:154px;
	height: 154px;
	margin-right: 10px;
	position:relative; 
	right:81px;
}
.col2 .info_item{
	float:left;
	width:150px;
	position:relative;
	bottom:156px;
	left:163px;
}
.col2 .item img{
	width: 154px;
	height: 154px;
}
.col2 .info_item h3{
	font-weight:normal;
	height:70px;
	overflow:hidden;
	width:125px;
	height:155px;
}
.col2 .item .info_item h3 a{
	width:130px;
}
/*Col3*/
.col3 .item{
	width:160px ;
	margin:0px 22px 10px 22px;
	padding:10px;
	float:left;
	background:url('../img/bg_item3.png') no-repeat 0 0;
}
.col3 .item_pic{
	width:154px;
	height: 154px;
	margin-right: 10px;
	position:relative; 
	bottom:29px;
}
.col3 .item img{
	width: 154px;
	height: 154px;
}
.col3 .info_item{
	width:96%;
	height: 70px;
	line-height:16px;
	position:relative;
	top:5px;
	botom:50px\9;
	top:0px\9;
	*botom:0px;
	*top:26px;
}
.col3 .info_item h3{
	font-weight:normal;
	height:70px;
	overflow:hidden;
	*position:relative; 
	*bottom:50px;
}

/*Col4*/
.col4 .item {
	width:130px ;
	margin:10px;
	padding:0px 9px 10px;
	float: left;
	height:180px;
     overflow:hidden;
     background:url('../img/bg_item4.png') no-repeat 0 0;
}
.col4 .item img{
	width:124px;
	height:124px;
}
.col4 .item_pic{
/*	width:124px;
*/	position:relative; 
/*	bottom:29px;*/
}
.col4 .info_item{

   	bottom: 24px;
    float: left;
    line-height: 16px;
    position: relative;
    text-align: center;
    width: 124px;
}
.col4 .info_item h3{
	font-weight:normal;
	/*height:70px;*/
	overflow:hidden;
}
/*-----------------------------
END : Column in Product Box
-----------------------------*/

/*-----------------------------
BEGIN : Detail in Product Box
-----------------------------*/
span.price {
	position: relative;
	float: right;
	padding: 2px 5px;
	background-color: #FA5183;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	font-weight:bold;
	color:#000;
}
.col4 .price{
	bottom: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){.col4 .price{bottom: 24px; right:0px;}}/*Only Chrome*/
.col3 .price, .col2 .price {
	bottom: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){.col4 .price{bottom: 24px;}}/*Only Chrome*/
span.promotion_price{
	color:#FA5183;
	font-style:italic;
	font-weight:bold;
}
/*-----------------------------
END : Detail in Product Box
-----------------------------*/

/*-----------------------------
BEGIN : Webboard
-----------------------------*/
#col_main_board{
    margin-top:20px;
    padding: 0px;
}
#col_main_board h2{
	padding:5px 0 0 10px;
	height:43px;
	background:url('../img/bgh2.gif') no-repeat 0 0;
	margin-bottom:0px;
	font-family:"Times New Roman", Times, serif, Microsoft Sans Serif, Arial, Verdana ;
	font-size:1.8em;
}
.board{
	margin:0px; 
	padding:0px; 
	list-style-type:none; 
	clear:both; 
	float:none;
}
.board li{
    clear:both; 
    float:none; 
    min-height:25px; 
    margin:0px; 
    padding:0px;
    vertical-align:text-top; 
}
.board li.boardheader{
     height:30px;
	color: #FA5183;
	border-bottom:1px #FA5183 solid;
}
.board  li.c0, .board li.c1{
	border-bottom:1px #555 dashed;
}
.board dl{
    padding:0px; 
    margin:0px; 
    list-style-type:none; 
    clear:both; 
    float:none; 
    height:40px;
}
.board dl dt, .board dl dd{
     float:left; 
     line-height:20px;
     padding-left:5px
}
.board .boardheader dt, .board .boardheader dd{
    line-height:30px; 
    font-weight:bold; 
}
.board .icon{
    width:25px;
}
.board .boardheader .topic{
    width:375px;
}
.board .topic{
    width:350px;
}
.board .topic a{
	height: 20px;
	font-size: 12px;
	line-height: 20px;
}
.board .topic_by, .board .last_by{
	color:#FD9DBA;
	font:11px;
	height: 11px;
	line-height: 11px;
}
.board .view, .board .reply{
	width:61px;
	font-size: 12px;
}
.board .lastpost{
	width:145px;
	font-size: 12px;
}
.board span{
    display:block; 
    clear:both
}
/*-----------------------------
END : Webboard
-----------------------------*/

/*-----------------------------
BEGIN : Column Right
-----------------------------*/
#col_right h2{
	background:url('../img/bgh2_02.gif') no-repeat 0 0;
	width:290px;
	height:48px;
	padding:5px 0px 0px 10px;
	font-size:1.6em;
	font-weight:normal;
}
 #busket_side, #col_right_submenu, #col_right_cate, #col_right_history,.right_item_list {
	width:290px;
	min-height:50px;
	_height:50px;/* Only IE6 */
	padding: 0px;
	margin-bottom: 20px;
	background: #fff;
	padding-bottom: 10px;
}
/* Sub Menu */
#col_right_submenu li, #col_right_cate li {
	width: 100%;
	float: left;
	padding-bottom:5px;
	border-bottom:1px #555 dashed;
	text-indent: 15px;
}
#col_right_submenu a{
    color:#13445F;
    padding: 0px;
}
#col_right_submenu li a:hover{
	color: #2578AB;
}
/* Category */
#col_right_cate a{
    padding: 0px;
}
/* Sign in */
#col_right_signin{
	width:280px;
	background-color:#FFFF00;
	margin-bottom: 20px;
	padding: 10px 10px 10px 0px;
}
a#btnSignin{
	background:url('../img/btnSignin.png') no-repeat 0 0;
	width:176px;
	height:45px;
	display:block;
}
a#btnSignin:hover{
	background-position:0px -45px;
}
/* My Cart */
#col_right_mycart{
	width:270px;
	padding:10px 10px 30px 10px;
	font-size:12px;
	font-family:Arial;
	margin-bottom: 20px;
	background-color:#FFFF00;
}
#cart_total{
	background:url('../img/bg_cart.jpg') no-repeat 0 0;
	width:181px;
	height:22px;
	margin:0 auto;
	color:#fff;
	padding:26px 0 0 60px;
}
span.blue{
	color:#fff;
}
span.redbold{
	color:#FA5183;
	font-weight:bold;
}
#cart_btn{
    margin-top:10px;
    margin-left:17px;
    display:block;
}
#btnViewcart{
	background: url('../img/btnViewcart.png') no-repeat center top;
	border:none;
	width:115px;
    	height:36px;
    	cursor:pointer;
    	margin-right:4px;
}
#btnCheckout{
	background: url('../img/btnCheckout.png') no-repeat center top;
	border:none;
	width:115px;
    	height:36px;
    	cursor:pointer;
}
#btnViewcart:hover, #btnCheckout:hover{
	background-position:center -35px;
}
#col_right_mycart li{
    margin-bottom:7px;
    padding-bottom:5px;
    background:url('../img/line.gif') no-repeat 0 59px;
    border-bottom:1px #555 dashed;
}
#col_right_mycart li span{
	color:#FA5183;
}
/* History */
#col_right_history div{
	padding:10px 10px;
	margin:0px 5px;
	border-bottom:1px #555 dashed;
}
#col_right_history .right_item img {
	width: 62px;
	height:62px;
	float: left;
	margin-right: 10px;
}
/* track */	
#col_right_track div{
	margin:5px auto;
	width:225px;
	width:250px\9;/* Only IE8 */
	*width:270px;/* Only IE7 and Lower */
}
@media screen and (-webkit-min-device-pixel-ratio:0){#col_right_track div{width:270px;}}/*Only Chrome*/
/* Detail in Column Right */
.right_item {
	/*margin-top: 10px;*/
}
.right_item img {
	width: 62px;
	float: left;
	margin-right: 10px;
}
/*-----------------------------
END : Column Right
-----------------------------*/

/*-----------------------------
BEGIN : Page How to Order/Pay
-----------------------------*/
.otherPage{
	width:630px;
	padding:10px 10px;
	margin:0px auto;
}
.otherPage h2{
	padding:5px 0 0 10px;
}
.otherPage h3{
	color:#0099FF;
	font-size:1.1em;
}
.otherPage p{
	margin:10px 0px;
}
.otherPage ul{
	margin-bottom:10px;
}
.otherPage ul li{
	background: url(../img/icon.png) no-repeat 0 6px;
	padding-left:13px;
}
.important{
	color:#0099FF;
	font-weight:bold;
}
.comment{
	color:#CC33FF;
	font-style:italic;
}
.otherPage hr{
	border:none;
	border-bottom:1px #6600FF dashed;
	margin:10px 0px;
}
#about p{
	margin:0px;
}
p#myTag{
	background:url(../img/bg_boxRight.jpg) repeat 0 0;
	padding:0px;
	margin:10px 0px;
}
p#myTag, p#myTag .comment{
	color:#808080;
}
/*-----------------------------
END : Page How to Order/Pay
-----------------------------*/


/*-----------------------------
BEGIN : Search Bar
-----------------------------*/
#searchbar{
	width: 980px;
	height:33px;
	border-bottom:none;
	position:fixed;
	bottom:0px;
	z-index:900;
	background:url('../img/searchbar.png') no-repeat 0 0;
	padding:5px 10px 0px 10px;
}
#serchbarForm{
    float:left;
    margin-top:3px;
}
#serchbarForm img{
	vertical-align:middle;
}
#serchbarForm label{
	display:none;
}
#search_keyword{
    color:#006c9f;
    border:solid 1px #bbb;
}
input#search_keyword{
	width:200px;
	height:20px;
	line-height:20px;
	width:200px;
	padding:0px 20px 0px 62px;
	background:url('../img/search_keyword.gif') no-repeat 0 0;
	color:#333333;
	border:none;
}
select#search_category{
    color:#006388;
}
input#btnSearch_bar{
    background:url(../img/btnSearchbar.png) no-repeat 0 0;
    width:21px;
    height:21px;
    border:none;
    cursor:pointer;
    vertical-align:bottom;
}
input#btnSearch_bar:hover{
	background-position:-21px 0;
}
#searchbar .right{
    padding-right:5px;
    color:#ffff00;
}
#searchbar .right a{
	padding-right:5px;
	color:#FFFF00!important;
	font-weight:bold;
	font-family:Arial;
}
#searchbar .right a:hover{
	padding-right:5px;
	color:#FA5183!important;
	font-weight:bold;
}
/*-----------------------------
END : Search Bar
-----------------------------*/